<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='./style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <body>
    <section class="login" id="login">
      <div class="head">
        <img
          src="{{ url_for('static',filename='./icons8-workout-64.png')}}"
          alt="photo"
          class="img"
        />
        <h1 class="company">BMI CALCULATOR</h1>
      </div>
      <p class="msg">Welcome user</p>
      <div class="form">
        <form action="/send_update" method="post">
          <input
            type="text"
            placeholder="id"
            class="text"
            name="id"
            required
          /><br /><br />
          <input
            type="text"
            placeholder="Name"
            class="text"
            name="name"
            required
          /><br /><br />
          <input
            type="text"
            placeholder="Enter the new Age"
            class="text"
            name="age"
            required
          /><br /><br />
          <input
            type="text"
            placeholder="Enter the new Weight"
            class="text"
            name="weight"
            required
          /><br /><br />
          <input
            type="text"
            placeholder="Enter the new height"
            class="text"
            name="height"
            required
          /><br /><br />
          <button class="btn-login" type="submit" id="do-login">Submit</button>
          <a href="{{ url_for('home') }}" class="update">Home</a>
        </form>
      </div>
    </section>
  </body>
</html>
